.admin_page_feature-box-edit {
  /*------------------------------------------------------------------------------
 wp-link
------------------------------------------------------------------------------*/
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box {
  width: 100%;
  max-width: 250px;
  float: left;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box input,
.admin_page_feature-box-edit #mce-feature-box-form .feature-box textarea {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  position: relative;
  z-index: 5;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box button {
  position: relative;
  z-index: 5;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header .img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-top: 2%;
  text-align: center;
  overflow: hidden;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header .img img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: auto;
  z-index: 1;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header .img input {
  margin: auto;
  display: none;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header .h2 {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  color: #fff;
  padding: 2%;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header .h2 label {
  width: 100%;
  margin: auto;
  text-align: center;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box header .h2 label input {
  color: #fff;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  padding: 2%;
  width: 90%;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin: auto;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box label {
  text-align: center;
  width: 100%;
  position: relative;
  margin: auto;
  display: block;
}
.admin_page_feature-box-edit #mce-feature-box-form .feature-box label textarea {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 2%;
  color: #000000;
  min-height: 150px;
  font-size: 0.8em;
}
.admin_page_feature-box-edit #wp-link-wrap {
  display: none;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 250px;
  overflow: hidden;
  margin-left: -250px;
  margin-top: -125px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100105;
  -webkit-transition: height 0.2s, margin-top 0.2s;
  transition: height 0.2s, margin-top 0.2s;
}
.admin_page_feature-box-edit #wp-link-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 100100;
}
.admin_page_feature-box-edit #wp-link {
  position: relative;
  height: 100%;
}
.admin_page_feature-box-edit #wp-link-wrap.search-panel-visible {
  height: 500px;
  margin-top: -250px;
}
.admin_page_feature-box-edit #link-modal-title {
  background: #fcfcfc;
  border-bottom: 1px solid #dfdfdf;
  height: 36px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  padding: 0 36px 0 16px;
  top: 0;
  right: 0;
  left: 0;
}
.admin_page_feature-box-edit #wp-link-close {
  color: #666;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
.admin_page_feature-box-edit #wp-link-close:before {
  font: normal 20px/36px 'dashicons';
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 36px;
  height: 36px;
  content: '\f158';
}
.admin_page_feature-box-edit #wp-link-close:hover,
.admin_page_feature-box-edit #wp-link-close:focus {
  color: #2ea2cc;
}
.admin_page_feature-box-edit #wp-link-close:focus {
  outline: none;
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}
.admin_page_feature-box-edit #link-selector {
  padding: 0 16px 50px;
}
.admin_page_feature-box-edit #wp-link-wrap.search-panel-visible #link-selector {
  padding: 0 16px;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 44px;
}
.admin_page_feature-box-edit #wp-link ol,
.admin_page_feature-box-edit #wp-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.admin_page_feature-box-edit #wp-link-search-toggle:after {
  display: inline-block;
  font: normal 20px/1 'dashicons';
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f140';
}
.admin_page_feature-box-edit .search-panel-visible #wp-link-search-toggle:after {
  content: '\f142';
}
.admin_page_feature-box-edit #wp-link input[type="text"] {
  box-sizing: border-box;
}
.admin_page_feature-box-edit #wp-link #link-options {
  padding: 8px 0 12px;
}
.admin_page_feature-box-edit #wp-link p.howto {
  margin: 3px 0;
}
.admin_page_feature-box-edit #wp-link p.howto a {
  text-decoration: none;
  color: inherit;
}
.admin_page_feature-box-edit #wp-link-search-toggle {
  cursor: pointer;
}
.admin_page_feature-box-edit #wp-link label input[type="text"] {
  margin-top: 5px;
  width: 70%;
}
.admin_page_feature-box-edit #wp-link #link-options label span,
.admin_page_feature-box-edit #wp-link #search-panel label span.search-label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 5px;
  max-width: 24%;
}
.admin_page_feature-box-edit #wp-link .link-search-field {
  float: left;
  width: 250px;
  max-width: 70%;
}
.admin_page_feature-box-edit #wp-link .link-search-wrapper {
  margin: 5px 0 9px;
  display: block;
  overflow: hidden;
}
.admin_page_feature-box-edit #wp-link .link-search-wrapper span {
  float: left;
  margin-top: 4px;
}
.admin_page_feature-box-edit #wp-link .link-search-wrapper .spinner {
  display: none;
  vertical-align: text-bottom;
}
.admin_page_feature-box-edit #wp-link .link-target {
  padding: 3px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin_page_feature-box-edit #wp-link .link-target label {
  max-width: 70%;
}
.admin_page_feature-box-edit #wp-link .query-results {
  border: 1px #dfdfdf solid;
  margin: 0;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  top: 205px;
}
.admin_page_feature-box-edit #wp-link li {
  clear: both;
  margin-bottom: 0;
  border-bottom: 1px solid #f1f1f1;
  color: #333;
  padding: 4px 6px 4px 10px;
  cursor: pointer;
  position: relative;
}
.admin_page_feature-box-edit #wp-link .query-notice {
  padding: 0;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f7fcfe;
  color: #000;
}
.admin_page_feature-box-edit #wp-link .query-notice .query-notice-default,
.admin_page_feature-box-edit #wp-link .query-notice .query-notice-hint {
  display: block;
  padding: 6px;
  border-left: 4px solid #2ea2cc;
}
.admin_page_feature-box-edit #wp-link .unselectable.no-matches-found {
  padding: 0;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fef7f1;
}
.admin_page_feature-box-edit #wp-link .no-matches-found .item-title {
  display: block;
  padding: 6px;
  border-left: 4px solid #d54e21;
}
.admin_page_feature-box-edit #wp-link .query-results em {
  font-style: normal;
}
.admin_page_feature-box-edit #wp-link li:hover {
  background: #eaf2fa;
  color: #151515;
}
.admin_page_feature-box-edit #wp-link li.unselectable {
  border-bottom: 1px solid #dfdfdf;
}
.admin_page_feature-box-edit #wp-link li.unselectable:hover {
  background: #fff;
  cursor: auto;
  color: #333;
}
.admin_page_feature-box-edit #wp-link li.selected {
  background: #ddd;
  color: #333;
}
.admin_page_feature-box-edit #wp-link li.selected .item-title {
  font-weight: bold;
}
.admin_page_feature-box-edit #wp-link li:last-child {
  border: none;
}
.admin_page_feature-box-edit #wp-link .item-title {
  display: inline-block;
  width: 80%;
  width: calc(32%);
}
.admin_page_feature-box-edit #wp-link .item-info {
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.admin_page_feature-box-edit #wp-link #search-results,
.admin_page_feature-box-edit #wp-link #search-panel {
  display: none;
}
.admin_page_feature-box-edit #wp-link-wrap.search-panel-visible #search-panel {
  display: block;
}
.admin_page_feature-box-edit #wp-link .river-waiting {
  display: none;
  padding: 10px 0;
}
.admin_page_feature-box-edit #wp-link .river-waiting .spinner {
  margin: 0 auto;
  display: block;
  float: none;
}
.admin_page_feature-box-edit #wp-link .submitbox {
  padding: 8px 16px;
  background: #fcfcfc;
  border-top: 1px solid #dfdfdf;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.admin_page_feature-box-edit #wp-link-cancel {
  line-height: 25px;
  float: left;
}
.admin_page_feature-box-edit #wp-link-update {
  line-height: 23px;
  float: right;
}
.admin_page_feature-box-edit #wp-link-submit {
  float: right;
  margin-bottom: 0;
}
@media screen and (max-width: 782px) {
  .admin_page_feature-box-edit #wp-link-wrap {
    height: 280px;
    margin-top: -140px;
  }
  .admin_page_feature-box-edit #wp-link-wrap.search-panel-visible .query-results {
    top: 235px;
  }
  .admin_page_feature-box-edit #link-selector {
    padding: 0 16px 60px;
  }
  .admin_page_feature-box-edit #wp-link-wrap.search-panel-visible #link-selector {
    bottom: 52px;
  }
  .admin_page_feature-box-edit #wp-link-cancel {
    line-height: 32px;
  }
}
@media screen and (max-width: 520px) {
  .admin_page_feature-box-edit #wp-link-wrap {
    width: auto;
    margin-left: 0;
    left: 10px;
    right: 10px;
    max-width: 500px;
  }
}
@media screen and (max-height: 520px) {
  .admin_page_feature-box-edit #wp-link-wrap {
    -webkit-transition: none;
    transition: none;
  }
  .admin_page_feature-box-edit #wp-link-wrap.search-panel-visible {
    height: auto;
    margin-top: 0;
    top: 10px;
    bottom: 10px;
  }
  .admin_page_feature-box-edit .search-panel-visible #link-selector {
    overflow: auto;
  }
  .admin_page_feature-box-edit .search-panel-visible #search-panel .query-results {
    position: static;
  }
}
@media screen and (max-height: 290px) {
  .admin_page_feature-box-edit #wp-link-wrap {
    height: auto;
    margin-top: 0;
    top: 10px;
    bottom: 10px;
  }
  .admin_page_feature-box-edit #link-selector {
    overflow: auto;
    height: calc(8%);
    padding-bottom: 2px;
  }
  .admin_page_feature-box-edit #search-panel .query-results {
    position: static;
  }
}

/*# sourceMappingURL=maps/admin.css.map */