// CONFIGURATION:
// Carousel

@cycle-carousel-width : 100%;
@carousel-next-fa-icon : @fa-var-caret-right;
@carousel-prev-fa-icon : @fa-var-caret-left;
@skip-offset : 5%;
@skip-button-color : @white;
@carousel-aspect-ratio : (4 / 6);
@slide-background: @darkgrey;

@carousel-max-height: 40vh;
@carousel-height: 500px; 

.slick-prev:before { content: @carousel-prev-fa-icon; }
.slick-next:before { content: @carousel-next-fa-icon; }
[dir="rtl"] .slick-prev:before { content: @carousel-next-fa-icon; }
[dir="rtl"] .slick-next:before { content: @carousel-prev-fa-icon; }


.cycle-slideshow.fill-width {
	.slick-list {
		//width: 100%;
		//height: auto;
		.slick-track {
			//width: 100%;
		//height: auto;
			.slick-slide {
			//display: block; // so that it appears on init.
			//overflow: hidden;
			position: relative;
				img {
				//	display: block;
					//margin: auto;
					position: absolute;
					width: 100%;
					height: auto;
					top: 50%;
					transform: translateY(-50%);
					min-height: 100%; //ouch
				}
			}
		}
	}
}
.cycle-slideshow {

		.tooltip {
			position: absolute;
			top: 0;
			margin: auto;
			left: 0;
			right: 0;
			color: #fff;
			z-index: 500;
		}

		background: @slide-background;
		opacity: 0;
		transition:opacity .5s ease;

		&.slick-initialized {
			opacity: 1;
		}

		position: relative;
		width: @cycle-carousel-width;

		height: @carousel-height;
		max-height: @carousel-max-height;

		

		


		// here you would change it to be a 'fill width' thing.
	.slick-list {
		height: 100%;
		.slick-track {
			height: 100%;
			.slick-slide {
			display: block; // so that it appears on init.
			overflow: hidden;
				img {
					display: block;
					margin: auto;
					height: 100%;
					width: auto;
					border: 0;
					outline:0;
				}
			}
		}
	}





		

		

		
	

}