// CONFIGURATION:
// Carousel

@cycle-carousel-width : 100%;
@carousel-next-fa-icon : @fa-var-caret-right;
@carousel-prev-fa-icon : @fa-var-caret-left;
@skip-offset : 5%;
@skip-button-color : @white;
@carousel-aspect-ratio : (4 / 6);
@slide-background: @darkgrey;

@carousel-max-height: 40vh;
@carousel-height: 500px; 

.slick-prev:before { content: @carousel-prev-fa-icon; }
.slick-next:before { content: @carousel-next-fa-icon; }
[dir="rtl"] .slick-prev:before { content: @carousel-next-fa-icon; }
[dir="rtl"] .slick-next:before { content: @carousel-prev-fa-icon; }


.cycle-slideshow.fill-width {
	.slick-list {
		//width: 100%;
		//height: auto;
		.slick-track {
			//width: 100%;
		//height: auto;
			.slick-slide {
			//display: block; // so that it appears on init.
			//overflow: hidden;
			position: relative;
				img {
				//	display: block;
					//margin: auto;
					position: absolute;
					width: 100%;
					height: auto;
					top: 50%;
					transform: translateY(-50%);
					min-height: 100%; //ouch
				}
			}
		}
	}
}
.cycle-slideshow {

		background: @slide-background;
		opacity: 0;
		transition:opacity .5s ease;

		&.slick-initialized {
			opacity: 1;
		}

		position: relative;
		width: @cycle-carousel-width;

		height: @carousel-height;
		max-height: @carousel-max-height;

		

		overflow: hidden;


		// here you would change it to be a 'fill width' thing.
	.slick-list {
		height: 100%;
		.slick-track {
			height: 100%;
			.slick-slide {
			display: block; // so that it appears on init.
			overflow: hidden;
				img {
					display: block;
					margin: auto;
					height: 100%;
					width: auto;
				}
			}
		}
	}


	.cycle-next, .cycle-prev {

			position: absolute;
			z-index: 200; // m ore than the cycle default

			top: 50%;
			
			transform:translateY(-50%);
			cursor: pointer;
			color: @skip-button-color;


			transition:transform .4s ease;

				&:hover {
					transform:scale(1.1,1.1) translateY(-50%);
				}

			&:before {
				.fa-icon();
				font-size: 5em;

				
			}
		}

		.cycle-next {
			right: @skip-offset;
			&:before {
				content: @carousel-next-fa-icon;
		
			}
		}

		.cycle-prev {
			left: @skip-offset;
			&:before {
				content:  @carousel-prev-fa-icon;
			}
		}


		

		

		
	

}