
a {
  background:transparent;
  text-decoration: none;
  color:@link-color;
}
a:focus {
  outline:thin dotted;
  color:@link-color;
}
a:active {
  outline:0;
}
a:hover {
  outline:0;
  color:@link-color;
}