body {
	font-family: sans-serif; // should definitely change this!
}

.h1 {
  text-rendering:optimizelegibility;
  font-weight:500;
  font-size:2.5em;
  line-height:1.333em;
}
h2, .h2 {
  text-rendering:optimizelegibility;
  font-weight:500;
  font-size:1.75em;
  line-height:1.4em;
  margin-bottom:0.375em;
}
h3, .h3 {
  text-rendering:optimizelegibility;
  font-weight:500;
  font-size:1.125em;
}
h4, .h4 {
  text-rendering:optimizelegibility;
  font-weight:500;
  font-weight:700;
  font-size:1.1em;
}
h5, .h5 {
  text-rendering:optimizelegibility;
  font-weight:500;
  font-size:0.846em;
  line-height:2.09em;
  text-transform:uppercase;
  letter-spacing:2px;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration:none;
}



span.amp {
  font-family:Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style:italic;
}